<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>React Boilerplate</title>
  <% if (htmlWebpackPlugin.files.favicon) { %>
  <link rel="shortcut icon" type="image/png" href="/<%= htmlWebpackPlugin.files.favicon %>">
  <% } %>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <% htmlWebpackPlugin.files.css.forEach(function(cssFile) { %>
  <link rel="stylesheet" href="<%= cssFile %>">
  <% }) %>
</head>
<body>
  <div id="root"></div>
  <% htmlWebpackPlugin.files.js.forEach(function(jsFile) { %>
  <script src="<%= jsFile %>"></script>
  <% }) %>
</body>
</html>