<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>React Boilerplate</title>
  <% if (htmlWebpackPlugin.files.favicon) { %>
  <link rel="shortcut icon" type="image/png" href="/<%= htmlWebpackPlugin.files.favicon %>">
  <% } %>
  
  <% htmlWebpackPlugin.files.css.forEach(function(cssFile) { %>
  <link href="<%= cssFile %>" rel="stylesheet">
  <% }) %>
</head>
<body>
  <div id="root"></div>
  <% htmlWebpackPlugin.files.js.forEach(function(jsFile) { %>
  <script src="<%= jsFile %>"></script>
  <% }) %>
</body>
</html>